@model AddEmployeeVM
@{
    ViewData["Title"] = "AddEmployee";
}

<h1>Add Employee</h1>

<form action="/Validation/AddEmployee" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" >
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Age" class="form-label"></label>
        <input asp-for="Age" class="form-control">
        <span class="text-danger" asp-validation-for="Age"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
        <spanclass ="text-danger" asp-validation-for="Email"></spanclass>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="mb-3">
        <label asp-for="confirmPassword" class="form-label"></label>
        <input asp-for="confirmPassword" class="form-control">
        <span class="text-danger" asp-validation-for="confirmPassword"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
