@model Office
@{
    ViewData["Title"] = "EditForm";
}

<h1>Edit_Office_Data</h1>

<form action="/office/EditToDB" method="post">
    <input asp-for="ID" value="@Model.ID"  hidden/>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"  value="@Model.Name"/>
    </div>
    <div class="mb-3">
        <label asp-for="Location" class="form-label"></label>
        <input asp-for="Location" class="form-control" value="@Model.Location"/>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>