@model Office
@{
    ViewData["Title"] = "GetById";
}



<div class="card text-center">
  <div class="card-header">
     <h1>Office Data</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">@Model.Location</p>
    <a asp-controller="office" asp-action="index" class="btn btn-primary">Back to Offices</a>
    </div>
</div>
